# Data
.ipynb_checkpoints
data/raw/*
data/raw/10-employee_performance.csv.dvc
!data/raw/*.dvc
!data/raw/.gitignore
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep
# Python
__pycache__/
*.pyc
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb~

# DVC
.dvc/cache/
.dvc/tmp/

# IDE
.vscode/
.idea/
